.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a{
    cursor: pointer;
}


footer {
    position: relative;
    height: 190px;
    width: 1667px;
    left: 202px;
    background: #dddd;
}
